.container {
  position: relative;
  width: 350px;
  margin: 0 auto;
}

.container .card {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
  width: 300px;
  height: 350px;
  box-shadow: 5px 5px 20px rgb(65, 65, 65);
  border-radius: 25px;
}

.container .card .overlay {
  height: 100px;
  bottom: 0px;
  position: absolute;
  background: rgb(85, 85, 85); /* Fallback color */
  background: rgba(
    240,
    240,
    240,
    0.95
  ); /* White background with 0.95 opacity */
  color: #f1f1f1;
  border-radius: 0 0 25px 25px;
  padding: 10px 20px;
  text-align: left;

  transition: all 0.05s ease-in-out;
}
.container .card h1 {
  color: black;
}

.container .card h3 {
  color: #898989;
}

.container .card .overlay .overlay-btn {
  visibility: hidden;
}
.container .card .overlay p {
  visibility: hidden;
  opacity: 0;
}
.container .card img {
  width: 300px;
  height: 350px;
  border-radius: 25px;
}

/*---------hover--------------*/
.container .card:hover {
  cursor: pointer;
}

.container .card:hover .overlay {
  height: 330px;
  bottom: 0px;
  background: rgba(
    240,
    240,
    240,
    0.95
  ); /* White background with 0.95 opacity */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(43, 43, 43);
}

.container .card:hover p,
.container .card:hover .overlay-btn {
  opacity: 1;
  visibility: visible;
}
