.container {
  position: relative;
  width: 350px;
  margin: 0 auto;
}

.container .card {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
  width: 300px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 25px;
}

.container .card .overlay {
  height: 100px;
  bottom: 0px;
  position: absolute;
  background: rgb(85, 85, 85); /* Fallback color */
  background: rgba(
    240,
    240,
    240,
    0.95
  ); /* White background with 0.95 opacity */
  color: #f1f1f1;
  border-radius: 0 0 25px 25px;
  padding: 10px 20px;
  text-align: left;
  /* CSS transitions */
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.container .card h1 {
  color: black;
  font-size: 20px;
  padding: 8px 0;
}

.container .card h3 {
  color: #898989;
  font-size: 16px;
}

.container .card .overlay .overlay-btn {
  visibility: hidden;
}
.container .card .overlay p {
  visibility: hidden;
  opacity: 0;
}
.container .card img {
  width: 300px;
  height: 350px;
  border-radius: 25px;
}

/*---------hover--------------*/
.container .card:hover {
  cursor: pointer;
}

.container .card:hover .overlay {
  height: 330px;
  bottom: 0px;
  background: rgba(
    240,
    240,
    240,
    0.95
  ); /* White background with 0.95 opacity */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(43, 43, 43);
}

.container .card:hover p,
.container .card:hover .overlay-btn {
  opacity: 1;
  visibility: visible;
  padding: 16px 0;
}

.container .card:hover .overlay-btn {
  display: flex;
  justify-content: space-around;
}
