:root {
  --backgroundPage: #e5e5e5;
  --backgroundPageMobile: #b3b3b3;
}

.home {
  height: 100vh;
  scroll-margin-top: 80px;
  text-align: center;
  background-color: var(--backgroundPage);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home .home-content {
  position: static;
  padding: 0% 6% 0% 0%;
}

.home .home-content .home-message {
  margin: 0 0 0 20px;
  text-align: left;
  font-size: 60px;
  padding: 30px 0;
}

.home .home-content .home-buttons {
  display: flex;
  justify-content: space-around;
}

.home .home-image {
  background-color: var(--backgroundPage);
  margin: 0%;
}

.home .home-image img {
  height: 100vh;
  max-width: 100%;
  display: block;
  border-radius: 50% 0% 0% 50%;
  width: 800px;
}

@media screen and (max-width: 1450px) {
  .home .home-content {
    position: static;
    padding: 0% 3% 0% 1%;
  }
  .home .home-content .home-message {
    margin: 0 0 0 15px;
  }
  .home .home-image img {
    width: 700px;
  }
}
@media screen and (max-width: 1200px) {
  .home .home-content {
    position: static;
    padding: 0% 2% 0% 1%;
  }
  .home .home-content .home-message {
    font-size: 48px;
    margin: 0 0 0 15px;
  }

  .home .home-image img {
    width: 550px;
  }
}

@media screen and (max-width: 960px) {
  .home {
    display: inline-block;
    background-color: transparent;
  }
  .home .home-content {
    height: 100vh;
    z-index: -3;
  }
  .home .home-content .home-message {
    font-size: 48px;
    text-align: center;
    padding: 35% 15% 2%;
  }
  .home .home-content .home-buttons {
    padding: 2% 15%;
  }
  .home .home-image {
    height: 100%;
    position: relative;
    z-index: -2;
    top: -100vh;
  }
  .home .home-image img {
    width: auto;
    border-radius: 0%;
    height: 100vh;
    opacity: 0.3;
  }
}

@media screen and (max-width: 480px) {
  .home .home-content .home-message {
    font-size: 36px;
    padding: 50% 5% 2%;
  }
  .home .home-content .home-buttons {
    padding: 2% 5%;
  }
}
