.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  background-color: #e5e5e5;
  width: 100%;
  overflow: hidden; /*sticky header*/
  position: sticky; /*sticky header*/
  top: 0;
}

.navbar.active {
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

.navbar .navbar__item {
  display: flex;
}
