.footer {
  height: auto;
  padding: 0 20%;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.footer .footer__copyright {
  text-align: center;
  color: whitesmoke;
}
